# .gitattributes: git설정

# git config(.git/config 파일), git config --global 등 보다 최우선 순위로 적용된다.
# 매번 로컬환경에서 설정하기 번거롭기 때문
# 특히 여러 운영체제에서 작업시 줄바꿈 LF, CRLF 설정 등을 관리하기 위해 사용됨



# 모든 텍스트파일에 대하여 git 다운로드(checkout, clone, pull)시 OS에 맞춰 LF or CRLF로 자동 변환
# 단, 원격저장소에는 항상 LF형태로 저장된다.
# text파일로 식별을 못해서 비정상 동작하는 경우가 있으니 주의
* text=auto

# 아래처럼 확장자를 명시적표현하면 식별이 확실하다.

# bat, ps1 파일은 항상 crlf로 저장되도록 설정 (원격, 로컬 동일)
*.bat text eol=crlf
*.ps1 text eol=crlf

# sh 파일은 항상 lf로 저장되도록 설정 (원격, 로컬 동일)
*.sh text eol=lf